{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <!-- hompage  -->
    <div class="homepage-container  px-5 mb-6">
        <div class="overlay"></div>
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-md-7 my-auto">
					<h1 class="lead-font text-white">Workouts class and products to help you lead a health life.</h1>
                    {% if request.user.is_authenticated %}
                    {% else %}
                    <div class="mt-5">
                        <h4><a href="{% url 'account_signup' %}" class="btn btn-orange py-3">Sign Up!</a></h4>
                    </div>
                    {% endif %}
				</div>
			</div>
		</div>
    </div>
{% endblock %}

{% block content %}    
    <!-- Features section -->
    <div class="features">
        <div class="container">
            <!-- title -->
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <h2 class="title">Features</h2>
                    <h5 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nisi corporis amet suscipit voluptas doloribus?</h5>
                </div>
            </div>
            <!-- features links -->
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="info">
                        <a href="">
                            <div class="icon"><i class="fas fa-dumbbell fa-6x"></i></div>
                            <h5 class="info-title">Fitness package</h5>
                            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo odit vero adipisci veniam libero molestias.</p>
                        </a> 
                    </div> 					
                </div>
                <div class="col-12 col-md-4">
                    <div class="info">
                        <a href="{% url 'instructors' %}">
                            <div class="icon"><i class="fas fa-running fa-6x"></i></div>
                            <h5 class="info-title">Instructor</h5>
                            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo odit vero adipisci veniam libero molestias.</p>
                        </a> 
                    </div> 					
                </div>
                <div class="col-12 col-md-4">
                    <div class="info">
                        <a href="{% url 'products' %}">
                            <div class="icon"><i class="fas fa-shopping-cart fa-6x"></i></div>
                            <h5 class="info-title">Store</h5>
                            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo odit vero adipisci veniam libero molestias.</p>
                        </a> 
                    </div> 					
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}
