{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- hompage  -->
    <div class="container-fluid homepage-container px-5">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 text-dark">Index page with slogan for the hompage.</h1>
				<div class="my-5">
					<h4><a href="" class="btn btn-dark py-3">Sign Up!</a></h4>
				</div>
            </div>
            
        </div>
    </div>
    <!-- website USP links section -->
    <div class="container content-padding">
        <div class="row my-5">
            <div class="col-12 col-md-4 text-center">
                <div class="m-3">
                    <a href="">
                        <div><i class="fas fa-dumbbell fa-7x"></i></div>
                        <h5 class="card-title">Fitness package</h5>
                    </a> 
                </div> 					
            </div>
            <div class="col-12 col-md-4 text-center">
                <div class="m-3">
                    <a href="">
                        <div><i class="fas fa-running fa-7x"></i></div>
                        <h5 class="card-title">Instructor</h5>
                    </a> 
                </div> 					
            </div>
            <div class="col-12 col-md-4 text-center">
                <div class="m-3">
                    <a href="{% url 'products' %}">
                        <div><i class="fas fa-shopping-cart fa-7x"></i></div>
                        <h5 class="card-title">Store</h5>
                    </a> 
                </div> 					
            </div>
            
        </div>
    </div>
{% endblock %}
