* {
  margin: 0;
  padding: 0;
  border: 0;
}

a:hover {
    text-decoration: none;
}

h5 {
    margin-top: 30px;
    margin-bottom: 15px;
}

html {
    height: 100%;
}

.navbar-nav {
        margin-top: 30px;
    }

.nav-link-color {
    color: white;
}

.bg-orange {
    background: #e54725;
}

/* button */
.btn-orange {
    color: #fff;
    background-color: #e54725;
    border-color: #e54725;
}
.btn-orange:hover {
    color: #fff;
    background-color: #c43e20;
    border-color: #c43e20;
}
.btn-orange:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 83, 44, 0.514);
}
/* #e28108fa */
.btn-outline-orange {
    color: #000;
}
.btn-outline-orange:hover {
    color: #fff;
    background-color: #c43e20;
    border-color: #c43e20;
}
.btn-outline-orange:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 83, 44, 0.514);
}

/* NAVBAR */

.dropdown-header {
    display: inline-block;
    font-size: 0.75rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .1em;
}

/* Index page */
.icon {}

.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
    
}

.info-title {}

.features {
    padding: 80px 0;
    text-align: center;
}

.title {}

.description {}

.header-container {}

.homepage-container {
    height: 75vh;
    background: url('/media/fp.jpg') no-repeat center center fixed; 
    background-color: grey;
    background-size: cover; 
}

.product-container {}

/* cart page */
/* .cart-header {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: bold;
    padding: 1.2rem 2rem;
    background: #f8f9fa;
}

.cart-body {
    padding: 0 30px;
}

.cart-img {
    max-width: 100px;
} */

/* product_detail page */
.image-container {}

.product-details-container {}

/* Instructor page */
.instructor-homepage {
    position: relative;
    height: 75vh;
    background: url('/media/jonathan-borba.jpg') no-repeat center center;
    background-size: cover; 
    margin-bottom: 50px;
}

.category {
    text-transform: capitalize;
    font-weight: 700;
    color: #9A9A9A;
}

h6.category>ul {
    list-style-type: none;
}

.instructor-card {
    margin: 50px 0;
}

/* instructor_detail page */
.instructor-details-container {}


/* workout_class page */ 
.workout-class-homepage {
    position: relative;
    height: 75vh;
    background: url('/media/geert-pieters.jpg') no-repeat center center;
    background-size: cover; 
    margin-bottom: 50px;
}

.category-card {
    max-width: 350px;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.mobile-search-bar {
    margin-top: 72px;
}

a.nav-link {
    color: inherit;
}

.uppercase-font {
    text-transform: uppercase;
}

/* .overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
} */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .6;
}

/* product category button */
a.category-badge {
    color: #000 !important;
}

a.category-badge > span.badge:hover {
    background: #ec9410 !important;
    color: #fff !important;
}

/* back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

@media (min-width: 992px) {    
    .navbar-nav {
        margin-top: 0;
    }
}

/* Hoverable dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

 .pp {
    color: rgba(255,255,255,.5)!important;
 }