* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
    height: 100%;
}

.content-padding {
    padding-top: 55px;
    padding-bottom: 55px;
}

.navbar-nav {
        margin-top: 30px;
    }

.nav-link-color {
    color: white;
}

/* Index page */
.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 70px 0 30px;
    text-align: center;
}

.info-title {
    margin: 25px 0 15px;
    padding: 0 15px;
}

.header-container {}

.homepage-container {
    height: 75vh;
    background: url('/media/fp.jpg') no-repeat center center fixed; 
    background-color: grey;
    background-size: cover; 
}

.product-container {}

/* product_detail page */
.image-container {}

.product-details-container {}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.mobile-search-bar {
    margin-top: 72px;
}

a.nav-link {
    color: inherit;
}

.uppercase-font {
    text-transform: uppercase;
}

/* .overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
} */

/* product category button */
a.category-badge {
    color: #000 !important;
}

a.category-badge > span.badge:hover {
    background: #ec9410 !important;
    color: #fff !important;
}

/* back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* Instructor page */

.category {
    text-transform: capitalize;
    font-weight: 700;
    color: #9A9A9A;
}

h6.category>ul {
    list-style-type: none;
}

.instructor-card {
    margin: 50px 0;
}

@media (min-width: 992px) {    
    .navbar-nav {
        margin-top: 0;
    }
}