<div class=" w-100 py-3 d-lg-none" aria-labelledby="mobile-search">
    <form class="form" method="GET" action="{% url 'products' %}">
        <div class="input-group w-100">
            <input class="form-control border" type="text" name="q" placeholder="Search our site">
            <div class="input-group-append">
                <button class="form-control form-control btn btn-orange border" type="submit">
                    <span class="icon icon-black">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>