<ul class="nav justify-content-center navbar-dark bg-orange d-none d-lg-flex nav-link-color">
	<li class="nav-item dropdown">
		<a class="nav-link btn-lg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">All Products</a>
		<div class="dropdown-menu " aria-labelledby="all-products-link">
			<a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
			<a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
			<a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
			<a href="{% url 'products' %}" class="dropdown-item">All Products</a>
		</div>
	</li>
    <li class="nav-item dropdown">
        <a class="nav-link btn-lg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sportswear</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'products' %}?category=activewear">Activewear</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=trainers">Trainers</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=shirts">Shirts</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=activewear,trainers,shirts">All Sportswear</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link btn-lg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Accessories</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'products' %}?category=dumbbells">Dumbbells</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=water_bottles">Water Bottles</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=resistance_bands">Resistance Bands</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=dumbbells,water_bottles,resistance_bands">All Accessories</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link btn-lg" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vitamins & Heath</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'products' %}?category=deals">Deals</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=proteins">Proteins</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=new_arrivals">New Arrivals</a>
            <a class="dropdown-item" href="{% url 'products' %}?category=deals,proteins,new_arrivals">All Vitamins & Health</a>
        </div>
    </li>
</ul>