{% extends 'base.html' %}
{% load static %}

{% block product_nav %}
    <div class="d-lg-none">
        <!-- instructor nav based on type of classes qualified for eg cardio, bodybuilding, core etc -->
    </div>
{% endblock %}

{% block content %}
    <!-- Page Title -->
    <div class="instructor-homepage mb-6">
        <div class="overlay"></div>
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-md-6 mx-auto">
					<div class="text-center text-uppercase text-white">
						<h1>instructors</h1>
						<span class="subheading">We have some of the best and most higly skilled instructors around. qualified at some of the best places</span>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!-- Instructors -->
    <div class="container">
        <div class="row">    
                <div class="col">
                    {% for instructor in instructors %}
                        {% if forloop.counter|divisibleby:2 %}
                        <div class="card instructor-card border-0">
                            <div class="row no-gutters">
                                <div class="col-md-5">
                                    <div class="card-image">
                                        <a href="">
                                            <img src="{{ instructor.image.url }}" class="card-img img-fluid rounded-circle" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7 my-auto">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ instructor.name }}</h5>
                                        <h6 class="category">
                                            <ul >
                                                {% for cat in instructor.category.all %}
                                                    <li>{{cat}}</li>
                                                {% endfor %}
                                            </ul>
                                        </h6>
                                        <div class="card-text">{{ instructor.description }}</div>
                                        <div class="card-footer">social media links</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="card instructor-card border-0">
                            <div class="row no-gutters">
                                
                                <div class="col-md-5 order-md-2">
                                    <div class="card-image">
                                        <a href="">
                                            <img src="{{ instructor.image.url }}" class="card-img img-fluid rounded-circle" alt="...">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-7 my-auto order-md-1">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ instructor.name }}</h5>
                                        <h6 class="category">
                                            <ul >
                                                {% for cat in instructor.category.all %}
                                                    <li>{{cat}}</li>
                                                {% endfor %}
                                            </ul>
                                        </h6>
                                        <div class="card-text">{{ instructor.description }}</div>
                                        <div class="card-footer">social media links</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div> 
        </div>

    </div>
{% endblock %}