{% extends 'base.html' %}
{% load static %}

{% block product_nav %}
    <div class="d-lg-none">
        <!-- instructor nav based on type of classes qualified for eg cardio, bodybuilding, core etc -->
    </div>
{% endblock %}

{% block content %}
    <container>
        <div class="row">
            <div class="col">
                <h2 class="text-uppercase">Instructors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
            
            </div>
        </div>
    </container>
{% endblock %}