{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <!-- Page Title -->
    <div class="workout-class-homepage mb-6">
        <div class="overlay"></div>
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-md-6 mx-auto">
					<div class="text-center text-uppercase text-light-orange">
						<h1>Workout Classes</h1>
						<span class="subheading">To make finding the right classes for you even more simple, we have grouped our classes into the categories below.</span>
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h5 class="text-center">Whether you want to lose weight, tone up, gain muscle or improve strength and endurance levels, we have a wide variety of classes to achieve your goals in a friendly environment and with instructors to give your motivation a helping hand. Most classes are included in your membership at a dsicounted price. You can see our full list of classes here.</h5>
        </div>
    </div>
    <!-- Category -->
    <div class="row justify-content-center my-4">
        {% for cat in category %}
        <div class="col-sm-6 col-lg-4 col-xl-3">
			<div class="card text-white text-center bg-orange mx-auto mb-3" style="max-width: 18rem;">
                <a href="{% url 'classes' cat.id %}" class="btn btn-orange" role="button">
                    <div class="card-body">
                        <h5 class="card-title">{{ cat.friendly_name }}</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
							content.
                        </p>
                    </div>
                </a>
			</div>
        </div>
        {% endfor %}
    </div>     
</div>
{% endblock %}