{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <!-- Page Title -->
    <div class="workout-class-homepage mb-6">
        <div class="overlay"></div>
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-md-6 mx-auto">
					<div class="text-center text-uppercase text-white">
						<h1>Workout Classes</h1>
						<span class="subheading">To make finding the right classes for you even more simple, we have grouped our classes into the categories below.</span>
					</div>
				</div>
			</div>
		</div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h5 class="text-center">Whether you want to lose weight, tone up, gain muscle or improve strength and endurance levels, we have a wide variety of classes to achieve your goals in a friendly environment and with instructors to give your motivation a helping hand. Most classes are included in your membership at a dsicounted price. You can see our full list of classes here.</h5>
        </div>
    </div>
    <!-- Workout  classes -->
    <div class="row justify-content-center">
        {% for class in workout_class %}
        <div class="col-sm-6 col-lg-4 col-xl-3">
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row no-gutters">
					<div class="col-md-4">
                        <a href="{% url 'class_detail' class.id %}">
						    <img src="{{ MEDIA_URL }}noimage.png" class="card-img" alt="...">
                        </a>
			        </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ class.name }}</h5>
                            <p class="card-text">{{ class.description }}</p>
                            <p class="card-text"><small class="text-muted">{{ class.difficulty_level }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>     
</div>
{% endblock %}